@use 'base/mixins' as m;
@use 'base/variables' as v;

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet { 
        flex-direction: row;
        gap: 2rem;
    }

    &__enlace {
        margin-bottom: 2rem;
        font-size: 1.4rem;
        display: flex; 
        align-items: center; //hace que el modificador este alineado al centro

        &:last-of-type {
            margin: 0;
        }

        @include m.tablet { 
            margin: 0;
        }

        &--crear { //el modificador va dentro del elemento padre
            font-weight: 700;
            color: v.$primario;

            @include m.tablet {  //permite agregar una linea a un lado del texto
                &::after {
                    content: '';
                    display: inline-block; //no fuerza un salto de linea, me mantiene en row
                    height: 4rem;
                    border-right: 2px solid v.$grisClaro;
                    margin: 0 0 0 2rem;

                }
            }
        }
    }
}