@use 'base/mixins' as m;
@use 'base/variables' as v;

.meeti {
    &__nombre {
        @include m.heading;
        margin-bottom: 5rem;
    }
    &__grid {
        @include m.tablet { 
            @include m.grid(3, 2rem);
        }
    }
    &__informacion {
        grid-column: 1 / 3; //hace que el contenido ocupe 2 terceras partes del grid
    }
}