@use 'base/mixins' as m;
@use 'base/variables' as v;

.busqueda {
    background-color: v.$grisClaro;
    padding: 5rem 0;
    &__heading {
       @include m.heading;
    }
}

.formulario {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    @include m.tablet { 
        @include m.grid(4, 2rem);
    }

    &__campo {
        padding: 1rem;
        border: 1px solid lighten(v.$gris, 50%); //hace que el border de los input sea mas claro
        margin-bottom: 2rem;
        @include m.tablet { 
            margin-bottom: 0
        }
    }
    &__submit {
        @include m.boton(v.$primario, v.$blanco);
        margin-top: 0;
    }
}