@use 'base/mixins' as m;
@use 'base/variables' as v;

.categorias {
    background-color: v.$grisClaro;
    padding: 5rem 0;
    &__heading {
        @include m.heading;
    }
    &__grid {
        margin-top: 5rem;
        @include m.grid(1, 4rem);
        @include m.tablet { 
            @include m.grid(2, 2rem);
        }
        @include m.desktop { 
            @include m.grid(3, 2rem);
        }
    }
}
.categoria {

    &__nombre {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
    }
}