@use 'base/mixins' as m;
@use 'base/variables' as v;

.eventos {
    padding: 5rem 0;
    &__heading {
        @include m.heading;
    }
    &__grid {
        margin-top: 2rem;
        @include m.grid(1, 2rem);

        @include m.tablet{
            @include m.grid(3, 2rem)
        }
    }
}
.evento {
    border: 1px solid v.$grisClaro;
    &__imagen {
        width: 100%;
    }
    &__evento {
        padding: 2rem;
    }
    &__fecha{
        font-size: 1.4rem;
        margin: 0;
    }
    &__nombre {
        color: v.$gris;
        margin: 1rem 0;
    }
    &__autor {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    &__autor-imagen {
        width: 10rem;
        border-radius: 50%;
        overflow: hidden; //oculta las esquinas de la imagen haciendola ver redonda 
    }
    &__organizado-texto,
    &__organizado-nombre {
        margin: .5rem 0;
    }
    &__organizado-texto {
        font-weight: 700;
    }
}