@use 'base/mixins' as m;
@use 'base/variables' as v;

.grupos {
    color: v.$blanco;
    padding: 5rem 0;
    background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, v.$secundario 50%, v.$secundario 100%);

    @include m.tablet { 
        background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, v.$secundario 50%, v.$secundario 100%);
    }

    &__grid {
        @include m.grid(1, 5rem);
        @include m.tablet { 
            @include m.grid(2, 5rem)
        }
    }

    &__heading {
        font-size: 3rem;
    }
    &__texto {
        color: v.$blanco;
        font-size: 2.4rem;
        line-height: 2;
    }

}