@use 'base/mixins' as m;
@use 'base/variables' as v;

.hero {
    min-height: 60rem;
    background-image: url(../../../../build/img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__texto {
        max-width: 60rem; //hace un salto de linea
        color: v.$blanco;
    }
    &__enlace {
        @include m.boton(v.$terciario, v.$blanco);
    }

}